#this requires TCP is the protocol to be enabled on rsyslog

*.*   @@{{master.private_address}}:514

$ActionExecOnlyWhenPreviousIsSuspended on
{% for server in slaves %}
& @@{{server.private_address}}:514
{% endfor %}
& /var/log/localbuffer
$ActionExecOnlyWhenPreviousIsSuspended off
