{% for server in servers %}
$ActionQueueType LinkedList   # use asynchronous processing
$ActionQueueFileName {{ server.remote_unit }} # set file name, also enables disk mode
$ActionResumeRetryCount -1    # infinite retries on insert failure
$ActionQueueSaveOnShutdown on # save in-memory data if rsyslog shuts down

# Forward everything
*.*   @{{server.private_address}}:514

{% endfor %}
